.my-nav{
    float: right;
    padding: 0;
    /* margin: 0; */
    float: right;
    padding-left: 367px;
    padding-top: 10px;
}

.imgs{
    width: 1585px;
}
/* footer{
    height: 45px;
    background-color: #2d3956;
    color: white;
} */
.web{
    font: 14px 'Droid 363if', serif;
    color: #ec2028;
}
.intro{
    font: 13px/18px 'Open Sans', sans-serif;
    color: #999;
}
.fp{
    font: 14px 'Droid Serif', serif;
    display: inline;
    float:left;
}
.fp1{
    float:center;
    font: 14px 'Droid Serif', serif;
}
.footdiv{
        color: white;
    background-color: #2d3956;
}
.row1{
    font-size: 12px;
    background-color: #232a3b;
    color:#7f91bc;
}
.head5{
    font:20px 'Droid Serif', serif;
    color: white;
    /* text-align: center; */
}
.head5:hover{
    color: #ec2028;
}

ul {
  list-style-type: none;
  /* text-align: center; */
}
.row2{
    text-align: center;
    position: relative;
    width: 100%;
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
    padding: 30px 0px;
    background: url(/images/mca.png) repeat;
}
h2{
    font: 26px 'Droid Serif', serif;
    font-size: 26px;
    color: #ec2028;
}
h4{
    font: 15px 'Droid Serif', serif;
    font-size: 15px;
}
.newhr{
     border-top: 1px dashed #7f91bc;
}

.heading-holder {
    width: 160px;
    height: 1px;
    background: #898989;
    margin: 10px auto 30px auto;
}
.view-details {
    width: 165px;
    font: italic 14px 'Droid Serif', serif;
    color: #2d3956;
    text-align: center;
    display: block;
    background-size: 158px;
    margin: 30px auto 10px auto;
}
.view-details:hover {
    text-decoration: none;
    color: #ec2028;
    background-size: 165px;
}
.row3{
     /* font-size: 12px; */
    text-align: center;
    
}
.imgs2{
    width:100%
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    border-color: #898989;
    color:#898989;
}
.custom{
    padding-top: 10px;
}

.head6{
    padding-top: 15px;
    font: 20px 'Droid Serif', serif;
    color:#898989;
}
.head6:hover{
    color: #ec2028;
}
a{
    color: #898989;
}
a:hover{
    color: #ec2028;
text-decoration: none;}

.img-fluid{
/* border-radius: 50%; */
/* width: 70%; */
/* height: 100%; */
 max-width: 100%;
  height: auto;
}
.my{
    font: 12px 'Droid Serif', serif;
    /* padding-top: 28px; */
}
nav .navbar-nav li a{
  color: #898989 !important;
  
  }
  nav .navbar-nav li a:hover{
  color: #ec2028 !important;
  }
    nav .navbar-nav li a:active{
  color: #ec2028 !important;
  }
.fli{
    color: #7f91bc;
    font: 13px 'Droid Serif', serif;
    /* text-align: center; */
    padding-right: 25px;
}
.fli:hover{
    color: white;
}
li{
    margin: 3px 0;
    /* text-align: center; */
    /* padding-right: 25px; */
}
.top-bar {
    /* max-width: 100%; */
    height: 40px;
    border-bottom: 1px #e1e1e1 solid;
    border-right: 1px #e1e1e1 solid;
    border-top: 1px #e1e1e1 solid;
    background: #FFF;
    color: #666;
    padding: 10px 0px;
    position: relative;
    float: right;
}
.top-bar a.e-mail {
    font: 14px 'Droid Serif', serif;
    display: block;
    color: #999;
    line-height: 15px;
    float: left;}
.top-bar a.e-mail:hover {
    color: #ec2028;
    }

/* .line {
    position: absolute;
    width: 30px;
    height: 39px;
    left: -30px;
    top: -1px;
    display: block;
} */
.social {
    list-style: none;
    margin: 0px auto;
    float: right;
    margin-right: 10px;
}
.row4{
    height: 90px;
}
.ptags{
    display: inline;
}
.social a p img:hover{
    color: #ec2028;
}


